@model AppUser

@{
    ViewData["Title"] = "Remove User";
}
<div class="float-start mt-2 mb-4">
    @* Back Button *@
    <a class="btn btn-outline-danger btn-lg" href="@ViewData["ReturnUri"]">Back to Users</a>
</div>
<div class="container d-flex gap-3 card shadow px-0 mx-0 mt-4 mb-auto">
    <div class="row card-header py-2 m-0">
        <h2 class="text-danger">@ViewData["Title"] - This cannot be undone</h2>
    </div>
    <div class="container pt-3 mb-2 card-body">
        <form asp-action="RemoveUser" asp-route-returnUri="@ViewData["ReturnUri"]" method="post">
            <input asp-for="@Model.Id" hidden="hidden" />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="d-flex flex-sm-row flex-wrap">
                <div class="form-floating pe-md-1 mb-3 col-12 col-md-6">
                    <input asp-for="@Model.Name" class="form-control" autocomplete="name" aria-required="true" placeholder="Jane Doe" disabled="disabled" />
                    <label asp-for="@Model.Name">Full Name</label>
                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                </div>
                <div class="form-floating pe-md-1 mb-3 col-12 col-md-6">
                    <input asp-for="@Model.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" disabled="disabled" />
                    <label asp-for="@Model.Email">Email</label>
                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                </div>
            </div>
            @* <div class="form-floating mb-3">
            <input asp-for="@Model.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
            <label asp-for="@Model.Password">Password</label>
            <span asp-validation-for="@Model.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
            <input asp-for="@Model.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
            <label asp-for="@Model.ConfirmPassword">Confirm Password</label>
            <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
            </div> *@

            <div class="form-floating mb-3">
                <select asp-for="@Model.Role" class="form-select align-middle" id="floatingSelect" disabled="disabled">
                    <option selected disabled>@Model.Role</option>
                </select>
                <label for="floatingSelect">Role</label>
            </div>


            <div class="d-flex flex-sm-row flex-wrap">
                <div class="form-floating pe-md-1 mb-3 col-12 col-md-6">
                    <input asp-for="@Model.StreetAddress" class="form-control" autocomplete="street-address" aria-required="true" placeholder="123 Hilda St." disabled="disabled" />
                    <label asp-for="@Model.StreetAddress">Street Address</label>
                    <span asp-validation-for="@Model.StreetAddress" class="text-danger"></span>
                </div>
                <div class="form-floating ps-md-1 mb-3 col-12 col-md-6">
                    <input asp-for="@Model.City" class="form-control" autocomplete="address-level2" aria-required="true" placeholder="Night City" disabled="disabled" />
                    <label asp-for="@Model.City">City</label>
                    <span asp-validation-for="@Model.City" class="text-danger"></span>
                </div>
            </div>

            <div class="d-flex flex-sm-row flex-wrap">
                <div class="form-floating mb-3 col-12 col-md-6 pe-md-1">
                    <input asp-for="@Model.State" class="form-control" autocomplete="address-level1" aria-required="true" placeholder="123 Hilda St." disabled="disabled" />
                    <label asp-for="@Model.State">State</label>
                    <span asp-validation-for="@Model.State" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3 col-12 col-md-6 ps-md-1">
                    <input asp-for="@Model.PostalCode" class="form-control" autocomplete="postal-code" aria-required="true" placeholder="12345" disabled="disabled" />
                    <label asp-for="@Model.PostalCode">Postal Code</label>
                    <span asp-validation-for="@Model.PostalCode" class="text-danger"></span>
                </div>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="@Model.PhoneNumber" class="form-control" autocomplete="tel-national" aria-required="true" placeholder="(555) 555-5555)" disabled="disabled" />
                <label asp-for="@Model.PhoneNumber">Phone Number</label>
                <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
            </div>

            <div class="container row d-flex justify-content-center">
                    <div class="col-sm-6 col-md-6">
                        <div id="confirmDeleteSpan" style="display:none" class="">
                            <div class="row gap-1">
                                <button type="submit" class="btn btn-danger form-control col">Yes</button>
                                <a href="#!" class="btn btn-primary form-control col"
                                   onclick="confirmDelete(false)">No</a>
                            </div>
                                    
                            <p class="text-center mt-1 text-danger">Are you sure you want to delete?</p>
                        </div>
                        <div id="deleteSpan">
                            <a type="button" href="#!" class="btn btn-danger btn-lg form-control"
                               onclick="confirmDelete(true)">Delete</a>
                        </div>
                    </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
        <script type="text/javascript">
            function confirmDelete(isDeleteClicked) {
                var deleteSpan = 'deleteSpan';
                var confirmDeleteSpan = 'confirmDeleteSpan';

                if (isDeleteClicked) {
                    $('#' + deleteSpan).hide();
                    $('#' + confirmDeleteSpan).show();
                } else {
                    $('#' + deleteSpan).show();
                    $('#' + confirmDeleteSpan).hide();
                }
            }

        </script>
    }
}