
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model PaginatedList<OrderVM>
@{
    ViewData["Title"] = "Order Management";
    int currentPageSize = (int)ViewData["CurrentPageSize"]!;
}

<div class="card shadow mt-4 mb-4">
    <div class="row py-2 m-0 card-header border-0 shadow-none">
        <div class="col-6">
            <h2 class="text-primary">@ViewData["Title"]</h2>
        </div>
        @*         <div class="col-6 text-end">
                <a asp-area="Admin" asp-controller="OrderManagement" asp-action="Upsert" class="btn btn-primary"><i class="bi bi-plus-circle-fill"></i> Book</a>
            </div> *@
    </div>

    @* Table Search and Page Size Selection *@
    <div class="card-body">
        <form method="get" asp-area="Admin" asp-controller="OrderManagement" asp-action="Index">
            <div class="form-control">
                <h6 class="text-info pt-3 my-auto">
                    Search: <input class="ms-1 my-auto align-middle" type="text" name="searchString" value="@ViewData["CurrentFilter"]" />
                    <input type="submit" value="Search" class="btn btn-info" />&nbsp; |
                    <a asp-area="Admin" asp-controller="OrderManagement" asp-action="Index" class="ps-1 text-info">Reset Filters</a> &nbsp; |
                    Rows per page:&nbsp;
                    <a asp-area="Admin"
                       asp-controller="OrderManagement"
                       asp-action="Index"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-pageSize="5"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       class="link-underline-primary link-opacity-50-hover @(currentPageSize == 5 ? "text-muted link-underline-opacity-0" : "")">5</a>&nbsp;
                    <a asp-area="Admin"
                       asp-controller="OrderManagement"
                       asp-action="Index"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-pageSize="10"
                       asp-route-sortOrder="@ViewData["CurrentSort"]" 
                       class="link-underline-primary link-opacity-50-hover @(currentPageSize == 10 ? "text-muted link-underline-opacity-0" : "")">10</a>&nbsp;
                    <a asp-area="Admin"
                       asp-controller="OrderManagement"
                       asp-action="Index"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-pageSize="25"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       class="link-underline-primary link-opacity-50-hover @(currentPageSize == 25 ? "text-muted link-underline-opacity-0" : "")">25</a>
                </h6>
            </div>
        </form>

        @* Table headers, sortable headers are anchors *@
        <table class="table table-bordered table-striped align-middle">
            <thead>
            <tr>
                <th>
                    <a class="text-info"asp-area="Admin"
                       asp-action="Index"
                       asp-route-sortOrder="@ViewData["IdSortParam"]"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-pageSize="@ViewData["CurrentPageSize"]">Order #</a>
                </th>
                <th>
                    <a class="text-info" asp-area="Admin"
                       asp-action="Index"
                       asp-route-sortOrder="@ViewData["NameSortParam"]"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-pageSize="@ViewData["CurrentPageSize"]">Name</a>
                </th>
                <th>
                    <a class="text-info" asp-area="Admin"
                       asp-action="Index"
                       asp-route-sortOrder="@ViewData["StatusSortParam"]"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-pageSize="@ViewData["CurrentPageSize"]">Status</a>
                </th>
                <th>
                    <a class="text-info" asp-area="Admin"
                       asp-action="Index"
                       asp-route-sortOrder="@ViewData["PlaceDateSortParam"]"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-pageSize="@ViewData["CurrentPageSize"]">Placed On</a>
                </th>
                <th>
                    <a class="text-info" asp-area="Admin"
                       asp-action="Index"
                       asp-route-sortOrder="@ViewData["ShipDateSortParam"]"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-pageSize="@ViewData["CurrentPageSize"]">Shipped On</a>
                </th>

                <th>
                    Post Code
                </th>
            </tr>
            </thead>
            <tbody>
            @* Main Table Render Loop *@
            @foreach (var order in Model)
            {
                double totalPrice = 0.00;
                <tr class="">
                    <td class="text-primary fw-bold">@order.Header.OrderId</td>
                    <td class="text-primary fw-bold">@order.Header.Name</td>
                    <td class="text-primary fw-bold">@order.Header.OrderStatus</td>
                    <td class="text-primary fw-bold">@order.Header.PlaceDate.ToString("MM/dd/yyyy")</td>
                    <td class="text-primary fw-bold">@(order.Header.ShipDate is null ? "N/A" : order.Header.ShipDate?.ToString("MM/dd/yyyy"))</td>
                    <td class="text-primary fw-bold">@order.Header.ShipPostalCode</td>

                    @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
                    {
                        <td class="text-sm-center align-middle">
                            <div class=" btn-group gap-2" role="group">
                                <a asp-area="Admin" asp-controller="OrderManagement" asp-action="" asp-route-id="@order.Header.OrderId" class="btn btn-primary"><i class="bi bi-box2-heart"></i> Add Shipping</a>
                                @if (User.IsInRole("Admin"))
                                {
                                    <a asp-area="Admin" asp-controller="OrderManagement" asp-action="" asp-route-id="@order.Header.OrderId" class="btn btn-danger"><i class="bi bi-trash3-fill"></i> Delete</a>
                                }
                            </div>
                        </td>
                    }
                            
                </tr>
                <tr>
                    <td colspan="7">
                                
                        <table class="table table-sm table-borderless">

                            <thead>
                            <tr class="">
                                <th class="fw-semibold text-secondary-emphasis">Title</th>
                                <th class="fw-semibold text-secondary-emphasis">Author</th>
                                <th class="fw-semibold text-secondary-emphasis">ISBN</th>
                                <th class="fw-semibold text-secondary-emphasis">Quantity</th>
                                <th class="text-end fw-semibold text-secondary-emphasis">Total</th>
                            </tr>
                            </thead>

                            <tbody>
                            @foreach (var line in order.Lines)
                            {
                                totalPrice += (double)((line.Product.Price ?? 1.00) * line.Quantity);
                                <tr class="text-body-secondary">
                                    <td>@line.Product.Title</td>
                                    <td>@line.Product.Author</td>
                                    <td>@line.Product.ISBN</td>
                                    <td>@line.Quantity @@@(line.Product.Price ?? 0.00) each</td>
                                    <td class="text-end">@((line.Product.Price * line.Quantity)?.ToString("C"))</td>
                                </tr>
                            }
                            <tr>
                                <td colspan="4"></td>
                                <td class="text-end">@totalPrice.ToString("C")</td>
                            </tr>

                            </tbody>
                        </table>
                    </td>
                </tr>

            }
            </tbody>
        </table>
            
        @{
            var prevDisabled = Model.HasPreviousPage ? "" : "disabled";
            var nextDisabled = Model.HasNextPage ? "" : "disabled";
        }
                
                
        <div class="">
            <ul class="pagination">
                <li class="page-item">
                    <a asp-area="Admin"
                       asp-controller="OrderManagement"
                       asp-action="Index"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-pageNumber="@(Model.PageIndex - 1)"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-pageSize="@ViewData["CurrentPageSize"]"
                       class="page-link @prevDisabled">
                        &laquo;
                    </a>
                </li>
                        
                <li class="page-item">
                    <a asp-area="Admin"
                       asp-controller="OrderManagement"
                       asp-action="Index"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-pageNumber="1"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-pageSize="@ViewData["CurrentPageSize"]"
                       class="page-link @(Model.PageIndex == 1 ? "active" : "")">
                        1
                    </a>
                </li>

                @for (int i = Math.Max(2, Model.PageIndex - SD.PagesAroundIndex); i < Model.TotalPages && i <= Model.PageIndex + SD.PagesAroundIndex; i++)
                {
                    string active = i == Model.PageIndex ? "active" : "";
                    int currentPage = i;
                    <li class="page-item @active">
                        <a class="page-link"
                           asp-area="Admin"
                           asp-controller="OrderManagement"
                           asp-action="Index"
                           asp-route-sortOrder="@ViewData["CurrentSort"]"
                           asp-route-pageNumber="@currentPage"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]"
                           asp-route-pageSize="@ViewData["CurrentPageSize"]">
                            @currentPage
                        </a>
                    </li>
                }
                        
                @if (Model.TotalPages > 1)
                {
                    <li class="page-item">
                        <a asp-area="Admin"
                           asp-controller="OrderManagement"
                           asp-action="Index"
                           asp-route-sortOrder="@ViewData["CurrentSort"]"
                           asp-route-pageNumber="@(Model.TotalPages)"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]"
                           asp-route-pageSize="@ViewData["CurrentPageSize"]"
                           class="page-link @(Model.PageIndex == @Model.TotalPages ? "active" : "")">
                            @Model.TotalPages
                        </a>
                    </li>
                }

                <li class="page-item">
                    <a asp-area="Admin"
                       asp-controller="OrderManagement"
                       asp-action="Index"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-pageNumber="@(Model.PageIndex + 1)"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-pageSize="@ViewData["CurrentPageSize"]"
                       class="page-link @nextDisabled">
                        &raquo;
                    </a>
                </li>

            </ul>
                    
        </div>
            

    </div>

</div>
@* <script type="text/javascript">
    $("tr:visible").each(function (index) {
        $(this).css("background-color", !!(index & 1) ? "rgba(0,0,0,.05)" : "rgba(0,0,0,0)");
    });
</script> *@