@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model PaginatedList<Product>;
@{
    ViewData["Title"] = "Products";
}

<div class="card shadow mt-4 mb-4">
    <div class="row pt-4 pb-3 m-0 card-header border-0 shadow-none">
        <div class="col-6">
            <h2 class="text-primary">Books</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-area="Admin" asp-controller="Product" asp-action="Upsert" class="btn btn-primary"><i class="bi bi-plus-circle-fill"></i> Book</a>
        </div>
    </div>
    <div class="card-body">
        <form method="get" asp-area="Admin" asp-controller="Product" asp-action="Index">
            <div class="form-control">
                <p class="text-info pt-3">
                    Find by Title/Author: <input class="ms-2" type="text" name="searchString" value="@ViewData["CurrentFilter"]" />
                    <input type="submit" value="Search" class="btn btn-info p-2 mb-1" />&nbsp; |
                    <a asp-area="Admin" asp-controller="Product" asp-action="Index" class="ps-1 text-info">Reset Filters</a>
                </p>
            </div>
        </form>
        <table class="table table-bordered table-striped w-100 ">
            <thead>
            <tr>
                <th>
                    <a class="text-info" asp-area="Admin" asp-action="Index" asp-route-sortOrder="@ViewData["TitleSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Title</a>
                </th>
                <th>
                    <a class="text-info" asp-area="Admin" asp-action="Index" asp-route-sortOrder="@ViewData["AuthorSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Author</a>
                </th>
                <th>
                    <a class="text-info" asp-area="Admin" asp-action="Index" asp-route-sortOrder="@ViewData["CategorySortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Category</a>
                </th>
                <th>
                    ISBN
                </th>
                <th>
                    Description
                </th>
                <th>
                    <a class="text-info" asp-area="Admin" asp-action="Index" asp-route-sortOrder="@ViewData["PriceSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Price ($)</a>
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>@obj.Title</td>
                    <td>@obj.Author</td>
                    <td>@(obj.Category is null ? "N/A" : obj.Category.Name)</td>
                    <td>@obj.ISBN</td>
                    <td>@Html.Raw(string.Join(string.Empty, obj.Description.Take(250)) + " . . .")</td>
                    <td>@obj.Price</td>
                    <td class="text-sm-center align-middle">
                        <div class=" btn-group" role="group">
                            <a asp-area="Admin" asp-controller="Product" asp-action="Upsert" asp-route-id="@obj.Id" class="btn btn-primary mx-2"><i class="bi bi-pencil-fill"></i> Edit</a>
                            <a asp-area="Admin" asp-controller="Product" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-2"><i class="bi bi-trash3-fill"></i> Delete</a>
                        </div>
                    </td>
                </tr>

            }
            </tbody>
        </table>
        
        @{
            var prevDisabled = Model.HasPreviousPage ? "" : "disabled";
            var nextDisabled = Model.HasNextPage ? "" : "disabled";
        }
        
        
        <div class="">
            <ul class="pagination">
                <li class="page-item">
                    <a asp-area="Admin"
                       asp-controller="Product"
                       asp-action="Index"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-pageNumber="@(Model.PageIndex - 1)"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       class="page-link @prevDisabled">
                        &laquo;
                    </a>
                </li>
                
                <li class="page-item">
                    <a asp-area="Admin"
                       asp-controller="Product"
                       asp-action="Index"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-pageNumber="1"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       class="page-link @(Model.PageIndex == 1 ? "active" : "")">
                        1
                    </a>
                </li>

                @for (int i = Math.Max(2, Model.PageIndex - SD.PagesAroundIndex); i < Model.TotalPages && i <= Model.PageIndex + SD.PagesAroundIndex; i++)
                {
                    string active = i == Model.PageIndex ? "active" : "";
                    <li class="page-item @active">
                        <a class="page-link"
                           asp-area="Admin"
                           asp-controller="Product"
                           asp-action="Index"
                           asp-route-sortOrder="@ViewData["CurrentSort"]"
                           asp-route-pageNumber="@i"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]">
                            @i
                        </a>
                    </li>
                }
                
                @if (Model.TotalPages > 1)
                {
                    <li class="page-item">
                        <a asp-area="Admin"
                           asp-controller="Product"
                           asp-action="Index"
                           asp-route-sortOrder="@ViewData["CurrentSort"]"
                           asp-route-pageNumber="@(Model.TotalPages)"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]"
                           class="page-link @(Model.PageIndex == @Model.TotalPages ? "active" : "")">
                            @Model.TotalPages
                        </a>
                    </li>
                }

                <li class="page-item">
                    <a asp-area="Admin"
                       asp-controller="Product"
                       asp-action="Index"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-pageNumber="@(Model.PageIndex + 1)"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       class="page-link @nextDisabled">
                        &raquo;
                    </a>
                </li>

            </ul>
            
        </div>
        

    </div>

</div>
