@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model PaginatedList<Product>;
@{
    ViewData["Title"] = "Products";
    int? currentPageSize = (int?)ViewData["CurrentPageSize"];
    
}

<div class="card shadow mt-4 mb-4">
    <div class="row py-2 m-0 card-header border-0 shadow-none">
        <div class="col-6">
            <h2 class="text-primary">Books</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-area="Admin" asp-controller="Product" asp-action="Upsert" class="btn btn-primary"><i class="bi bi-plus-circle-fill"></i> Book</a>
        </div>
    </div>
    <div class="card-body">
        <form method="get" asp-area="Admin" asp-controller="Product" asp-action="Index">
            <div class="form-control d-flex justify-content-around flex-wrap">

                <div class="d-inline-flex my-auto gap-2 p-1">
                    <h6 class="text-info my-auto">Search:</h6>
                    <input class="ms-1 my-auto align-middle form-control" type="text" name="searchString" value="@ViewData["CurrentFilter"]" />
                    <input type="submit" value="Search" class="btn btn-info" />
                    <h6 class="text-info my-auto w-100">|&nbsp;<a asp-area="Admin" asp-controller="Product" asp-action="Index" class="text-info">Reset Filters</a></h6>

                </div>

                <div class="d-inline-flex flex-nowrap gap-1 my-auto align-items-middle p-1">
                    <h6 class="">
                        Rows per page :
                        <a asp-area="Admin"
                           asp-controller="Product"
                           asp-action="Index"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]"
                           asp-route-pageSize="5"
                           asp-route-sortOrder="@ViewData["CurrentSort"]"
                           class="link-underline-primary link-opacity-50-hover @(currentPageSize == 5 ? "text-muted link-underline-opacity-0" : "")">5</a>&nbsp;
                        <a asp-area="Admin"
                           asp-controller="Product"
                           asp-action="Index"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]"
                           asp-route-pageSize="10"
                           asp-route-sortOrder="@ViewData["CurrentSort"]"
                           class="link-underline-primary link-opacity-50-hover @(currentPageSize == 10 ? "text-muted link-underline-opacity-0" : "")">10</a>&nbsp;
                        <a asp-area="Admin"
                           asp-controller="Product"
                           asp-action="Index"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]"
                           asp-route-pageSize="25"
                           asp-route-sortOrder="@ViewData["CurrentSort"]"
                           class="link-underline-primary link-opacity-50-hover @(currentPageSize == 25 ? "text-muted link-underline-opacity-0" : "")">25</a>
                    </h6>
                </div>
            </div>
        </form>
        <div class="table-responsive">
            <table class="table table-bordered table-striped w-100 ">
                <thead>
                    <tr>
                        <th>
                            <a class="text-info" asp-area="Admin"
                               asp-action="Index"
                               asp-route-sortOrder="@ViewData["TitleSortParam"]"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]"
                               asp-route-pageSize="@ViewData["CurrentPageSize"]">Title</a>
                        </th>
                        <th>
                            <a class="text-info" asp-area="Admin"
                               asp-action="Index"
                               asp-route-sortOrder="@ViewData["AuthorSortParam"]"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]"
                               asp-route-pageSize="@ViewData["CurrentPageSize"]">Author</a>
                        </th>
                        <th>
                            <a class="text-info" asp-area="Admin"
                               asp-action="Index"
                               asp-route-sortOrder="@ViewData["CategorySortParam"]"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]"
                               asp-route-pageSize="@ViewData["CurrentPageSize"]">Category</a>
                        </th>
                        <th>
                            ISBN
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            <a class="text-info" asp-area="Admin" asp-action="Index" asp-route-sortOrder="@ViewData["PriceSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Price ($)</a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @* Edit and Delete buttons *@
                    @foreach (var product in Model)
                    {
                        <tr>
                            <td>@product.Title</td>
                            <td>@product.Author</td>
                            <td>@(product.Categories.Count is 0 ? "N/A" : string.Join(", ", product.Categories.OrderBy(x => x.DisplayOrder).Select(x => x.Name)))</td>
                            <td>@product.ISBN</td>
                            <td>@Html.Raw(string.Join(string.Empty, product.Description.Take(250)) + " . . .")</td>
                            <td>@product.Price?.ToString("C")</td>
                            <td class="text-sm-center align-middle">
                                <div class=" btn-group" role="group">
                                    <a asp-area="Admin" asp-controller="Product" asp-action="Upsert" asp-route-id="@product.Id" class="btn btn-primary mx-2"><i class="bi bi-pencil-fill"></i> Edit</a>
                                    <a asp-area="Admin" asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger mx-2"><i class="bi bi-trash3-fill"></i> Delete</a>
                                </div>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
        
        
        @{
            var prevDisabled = Model.HasPreviousPage ? "" : "disabled";
            var nextDisabled = Model.HasNextPage ? "" : "disabled";
        }
        
        
        <div class="">
            <ul class="pagination">
                <li class="page-item">
                    <a asp-area="Admin"
                       asp-controller="Product"
                       asp-action="Index"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-pageNumber="@(Model.PageIndex - 1)"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-pageSize="@ViewData["CurrentPageSize"]"
                       class="page-link @prevDisabled">
                        &laquo;
                    </a>
                </li>
                
                <li class="page-item">
                    <a asp-area="Admin"
                       asp-controller="Product"
                       asp-action="Index"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-pageNumber="1"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-pageSize="@ViewData["CurrentPageSize"]"
                       class="page-link @(Model.PageIndex == 1 ? "active" : "")">
                        1
                    </a>
                </li>

                @for (int i = Math.Max(2, Model.PageIndex - SD.PagesAroundIndex); i < Model.TotalPages && i <= Model.PageIndex + SD.PagesAroundIndex; i++)
                {
                    string active = i == Model.PageIndex ? "active" : "";
                    int currentPage = i;
                    <li class="page-item @active">
                        <a class="page-link"
                           asp-area="Admin"
                           asp-controller="Product"
                           asp-action="Index"
                           asp-route-sortOrder="@ViewData["CurrentSort"]"
                           asp-route-pageNumber="@currentPage"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]"
                           asp-route-pageSize="@ViewData["CurrentPageSize"]">
                            @currentPage
                        </a>
                    </li>
                }
                
                @if (Model.TotalPages > 1)
                {
                    <li class="page-item">
                        <a asp-area="Admin"
                           asp-controller="Product"
                           asp-action="Index"
                           asp-route-sortOrder="@ViewData["CurrentSort"]"
                           asp-route-pageNumber="@(Model.TotalPages)"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]"
                           asp-route-pageSize="@ViewData["CurrentPageSize"]"
                           class="page-link @(Model.PageIndex == @Model.TotalPages ? "active" : "")">
                            @Model.TotalPages
                        </a>
                    </li>
                }

                <li class="page-item">
                    <a asp-area="Admin"
                       asp-controller="Product"
                       asp-action="Index"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-pageNumber="@(Model.PageIndex + 1)"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-pageSize="@ViewData["CurrentPageSize"]"
                       class="page-link @nextDisabled">
                        &raquo;
                    </a>
                </li>

            </ul>
            
        </div>
        

    </div>

</div>
