@model ProductVM
@{
    bool create = @Model.Product.Id == 0;
}
@{
    ViewData["Title"] = $"{(create ? "Create" : "Update")} Book";
}




<div class="card shadow mt-4 mb-3">
    <div class="card-header">
        <div class="row col-12 text-center">
            <h2 class="text-primary">@(create ? "Create" : "Update") Book</h2>
        </div>
    </div>
    <div class="row m-3">
        <div class="card-body m-0 p-0 col-7 offset-1">
            <form method="post" class="" enctype="multipart/form-data">
                <input asp-for="Product.Id" hidden/>
                <input asp-for="Product.ImageURL" hidden />
                <div class="p-3">
                    
                    @*ISBN*@
                    <div class="row">
                        <div class="col-6 form-floating">
                            <input asp-for="Product.ISBN" id="isbnInput" class="form-control" placeholder="ISBN" />
                            <label asp-for="Product.ISBN" class="ms-3"></label>
                            <span asp-validation-for="Product.ISBN" class="text-danger"></span>
                        </div>
                        <div class="col row my-auto">
                            <button type="button" id="isbnLookup" class="col-4 btn btn-info">Lookup</button>
                            <div class="collapse ms-2 my-auto spinner-border text-primary" role="status" id="loading-spinner">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            <span id="isbnLookupWarning" class="collapse col text-warning">Error getting book. ISBN may be incorrect or book not found.</span>
                        </div>
                    </div>
                    @*TITLE*@
                    <div class="mt-2 ms-0 row col-sm-12 col-md-12 form-floating">
                        <input asp-for="Product.Title" type="text" class="form-control" id="inputTitle" placeholder="Title"/>
                        <label asp-for="Product.Title" class=""></label>
                        <span asp-validation-for="Product.Title" class="text-danger"></span>
                    </div>
                    @*AUTHOR*@
                    <div class="mt-2 mb-3 col-sm-12 col-md-12 form-floating">
                        <input asp-for="Product.Author" id="inputAuthor" class="form-control" placeholder="Author"/>
                        <label asp-for="Product.Author" class=""></label>
                        <span asp-validation-for="Product.Author" class="text-danger"></span>
                    </div>
                    @*CATEGORY SELECTION*@
                    <div class="mt-2 mb-3 col-sm-12 col-md-12">
                        <label asp-for="CategoryIds" class="text-muted">Category</label>
                        <select asp-for="CategoryIds" asp-items="@Model.CategoryList" class="form-select pb-2" multiple="multiple" data-placeholder="Choose a category" >
                        </select>
                        <span class="collapse text-info fs-5" id="categorySuggestions"></span>
                        <span asp-validation-for="Product.Categories" class="text-danger"></span>
                    </div>
                    @*COVER ART*@
                    <div class="mt-2 mb-3 col-sm-12 col-md-12">
                        <label asp-for="Product.ImageURL" class="pe-3 pt-2 bg-opacity-10 form-text text-warning">Image must be 314 x 500 or will be resized</label><a target="_blank" rel="noopener noreferrer" class="collapse" id="coverLink"></a>
                        <input name="file" type="file" accept="image/*" class="form-control" placeholder="Cover Art"/>
                    </div>
                    @*DESCRIPTION*@
                    <div class="mt-2 mb-3 col-sm-12 col-md-12">
                        <label asp-for="Product.Description" class="me-3 text-muted form-text"><a target="_blank" rel="noopener noreferrer" class="collapse" id="descriptionLink"></a></label>
                        <textarea id="editor" asp-for="Product.Description" class="form-control" style="height: 10rem"></textarea>
                    </div>
                    
                    @*PRICE*@
                    <div class="mt-2 mb-3 col-sm-12 col-md-12 input-group" style="width: 67%">
                        <span class="input-group-text">$</span>
                        <div class="form-floating">
                            <input asp-for="Product.Price" class="form-control" placeholder="Price"/>
                            <label asp-for="Product.Price" class=""></label>
                            <span asp-validation-for="Product.Price" class="text-danger"></span>
                        </div>
                    </div>
                    @*SUBMIT / BACK*@
                    <div class="row">
                        <div class="col-sm-6 col-md-6">
                            <button type="submit" id="formSubmit" class="btn btn-primary form-control"> @(create ? "Create" : "Update")</button>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <a href="#!" onclick="history.go(-1)" class="btn btn-outline-primary form-control">Back</a>
                        </div>
                    </div>


                </div>
            </form>
        </div>
        <div class="col-3 ms-1">
            <img src="~/@(Model.Product.ImageURL)" width="100%"/>
        </div>
    </div>
</div>



@section Scripts {
    
    <partial name="_ValidationScriptsPartial"/>


    <script type="text/javascript">
        $(function () {

            tinymce.init({
                selector: '#editor',
                plugins: 'anchor autolink charmap emoticons link lists searchreplace table visualblocks wordcount',
                toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
                paste_as_text: true,
                paste_block_drop: true
            });

            $('.form-select').select2(
                {
                    theme: 'bootstrap-5',
                    width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
                    placeholder: $(this).data('placeholder'),
                    closeOnSelect: false,
                    allowClear: true,
                });


            //Listeners for
            $(function () {
                var isbnInput = $('#isbnInput');
                $('#isbnLookup').on("click", function () {
                    $('#isbnLookup').attr("disabled", true);
                    var isbn = isbnInput.val().replace(/-/g, '');
                    isbnLookup(isbn);
                });

            });

        });
    </script>

    
    <script type="text/javascript">
        //Perform ajax
        function isbnLookup(isbn) {
            
            var isbnQuery = 'ISBN:' + isbn;
            $.ajax({
                type: 'get',
                url: 'https://openlibrary.org/api/books?jscmd=data',
                data: {bibkeys : isbnQuery},
                dataType: 'jsonp',
                beforeSend: function() {
                    $('#isbnLookupWarning').hide();
                    $('#categorySuggestions').hide();
                    $('#loading-spinner').show();
                    $('#descriptionLink').hide();
                    $('#coverLink').hide();
                    $('#formSubmit').attr("disabled", true);
                },
                complete : function() {
                    $('#loading-spinner').hide();
                    $('#formSubmit').attr("disabled", false);
                },
                success: function(response) {
                    $('#isbnLookup').attr("disabled", false);
                    $('#categorySuggestions').show();
                    $('#descriptionLink').show();
                    fillFields(response, isbnQuery);
                },
                error: function() {
                    $('#isbnLookupWarning').show();
                }
            });
        };

        //Change input values
        function fillFields(response, isbnQuery) {
            var bibkeys = Object.keys(response);
            if (bibkeys.length === 0) {
                $('#isbnLookupWarning').show();
                return;
            } else {
                var book = response[isbnQuery];

                // console.log(book.title);
                // console.log(book.authors[0].name);
                // console.log(book.subjects.slice(0, @SD.NumberCategorySuggestions).map((x) => '"' + x.name + '"').join(', '));

                if ('title' in book) {
                    $('#inputTitle').val(book.title);
                }

                if ('authors' in book) {
                    $('#inputAuthor').val(book.authors[0].name);
                }

                if ('subjects' in book) {
                    console.log('here');
                    var subjectList = book.subjects.slice(0, @SD.NumberCategorySuggestions).map((x) => '"' + x.name + '"').join(', ');
                    $('#categorySuggestions').text('Suggested categories: ' + subjectList);
                }

                if ('url' in book) {
                    $('#descriptionLink').text('See page for sample description').attr('href', book.url); 
                }

                if ('cover' in book) {
                    $('#coverLink').text('Suggested image: ' + book.cover.large).attr('href', book.cover.large).show();
                }
            }
            
        };
    </script>
}