@using Microsoft.Extensions.WebEncoders.Testing
@model List<ShoppingCart>
@{
    ViewData["Title"] = "Cart";
    decimal total = 0m;
}
<div class="row justify-content-center m-0 p-0">
    <div class="card shadow px-0 mx-0 mt-4 mb-4 col-lg-10 col-12">
        <div class="row card-header py-2 m-0">
            <div class="col-6">
                <h2 class="text-primary">Shopping Cart</h2>
            </div>
            <div class="col-6 text-end">
            </div>
        </div>
        <div class="container pt-3">
            
            @foreach (var item in Model)
            {
                var book = item.Product;
                var price = Math.Round(item.Count * book.Price ?? 0, 2);
                total += price;
                <div class="card-body row justify-content-center d-flex flex-nowrap" >
                    <div class="col d-flex justify-content-center">
                        <img class="shadow my-auto" src="~/@book.ImageURL" height="160" />
                    </div>

                    <div class="col d-flex">
                        <ul class="list-group my-auto">
                            @* <li class="list-group-item"><span class="badge rounded-pill bg-primary">@book.Category?.Name</span></li> *@
                            <li class="text-primary list-group-item">@book.Title</li>
                            <li class="text-dark list-group-item">@book.Author</li>
                            <li class="text-muted list-group-item">@book.ISBN</li>
                        </ul>
                    </div>

                    <div class="d-flex col row justify-content-center my-auto">
                        <form method="post">
                            <div class="container row gap-1 my-auto mx-auto flex-md-nowrap">
                                <button class="btn btn-outline-primary col"
                                        asp-area="Customer"
                                        asp-controller="Cart"
                                        asp-action="ChangeItemCount"
                                        asp-route-cartId="@item.Id"
                                        asp-route-changeAction="@SD.CartIncrement">
                                    <i class="bi bi-plus-square"></i>
                                </button>
                                <h4 class="col my-0 text-center">@item.Count</h4>
                                <button class="btn btn-outline-danger col"
                                        asp-area="Customer"
                                        asp-controller="Cart"
                                        asp-action="ChangeItemCount"
                                        asp-route-cartId="@item.Id"
                                        asp-route-changeAction="@SD.CartDecrement">
                                    <i class="bi bi-dash-square"></i>
                                </button>
                            </div>
                        </form>

                    </div>

                    <div class="d-flex col justify-content-center">
                        <h4 class="text-center my-auto"> x @book.Price?.ToString("C") = <span class="text-info">@(price.ToString("C"))</span></h4>
                    </div>

                    <div class="d-flex col-1 justify-content-center my-auto">
                        <form method="post">
                            <button class="btn btn-danger"
                                    asp-area="Customer"
                                    asp-controller="Cart"
                                    asp-action="RemoveItem"
                                    asp-route-cartId="@item.Id">
                                <i class="bi bi-trash3-fill"></i>
                            </button>
                        </form>
                    </div>

                </div>



                <hr/>
            }

            <div class="row">
                <div class="d-flex col justify-content-end my-auto pb-3">
                    <h4 class="text-center my-auto">Total = <span class="text-info">@(total.ToString("C"))</span></h4>
                </div>
            </div>
            <div class="row">
                <div class="d-flex col justify-content-end my-auto mt-0 pt-0 pb-3">
                    <a class="btn btn-success btn-lg" asp-area="Customer" asp-controller="Checkout" asp-action="Index">Checkout</a>
                </div>
            </div>

        </div>

    </div>
</div>
