@model ShoppingCart
@{
    ViewData["Title"] = $"{Model.Product.Title} - Details";
}

<div class="row pt-4 mt-4">
    <div class="col-4 ">
        <img class="img-thumbnail" src="~/@Model.Product.ImageURL"/>
    </div>
    <div class="col-6 offset-1 p-2">
        @foreach (var category in Model.Product.Categories.OrderBy(x => x.DisplayOrder))
        {
            <a asp-area="Customer" asp-controller="Home" asp-action="Shop" asp-route-id="@category.Name"><span class="badge rounded-pill text-bg-primary mb-2 ">@category.Name</span></a>
            
        }
        
        <div class="fs-2 p-0 m-0">
            <h2 class="text-dark">@Model.Product?.Title</h2>
            <h3 class="text-muted">@Model.Product?.Author</h3>
            <h6 class="text-secondary fs-6">@Model.Product?.ISBN</h6>
            <h3 class="text-info">$@Model.Product?.Price</h3>
        </div>
        <div id="module" class="container ps-0 pt-3">
            @Html.Raw("<div class=\"collapse p-0\" id=\"collapseExample\" aria-expanded=\"false\"" + Model.Product?.Description + "</div>")
            <a role="button" class="collapsed" data-bs-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"></a>
        </div>
        <form method="post" class="row form-floating mt-4">
            <input asp-for="ProductId" hidden/>
            <div class="form-floating col-md-6">
                <input asp-for="Count" type="number" max="5" min="1" class="form-control" value="1" id="AddQuantity"/>
                <label for="AddQuantity">Quantity</label>
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <input type="submit" class="form-control btn btn-info" value="Add to Cart"/>
            </div>
        </form>


    </div>
</div>

