@model Product
@{
    ViewData["Title"] = $"{Model.Title} - Details";
}

<div class="row pt-4 mt-4">
    <div class="col-4 ">
        <img class="img-thumbnail" src="~/@Model.ImageURL"/>
    </div>
    <div class="col-6 offset-1 p-2">
        <span class="badge text-bg-primary mb-2 ">@Model.Category.Name</span>
        <div class="fs-2 p-0 m-0">
            <h2 class="text-dark">@Model.Title</h2>
            <h3 class="text-muted">@Model.Author</h3>
            <h6 class="text-secondary fs-6">@Model.ISBN</h6>
            <h3 class="text-info">$@Model.Price</h3>
        </div>
        <div id="module" class="container ps-0 pt-3">
            @Html.Raw("<div class=\"collapse p-0\" id=\"collapseExample\" aria-expanded=\"false\"" + Model.Description + "</div>")
            <a role="button" class="collapsed" data-bs-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"></a>
        </div>
        
        <a role="button" class="mt-4 btn btn-info">Add to Cart</a>

    </div>
</div>

