@model PaginatedProductVM

@{ 
    ViewData["Title"] = "Shop - " + @Model.CategoryName;
}
@section Styles
{
    <style>
        #side-bar{
            position: relative;
            top: 25%;
        }
    </style>
}

<div class="container row mt-4">
    <div class="container col-2">
        <div class="text-primary" id="side-bar">
            @await Component.InvokeAsync("Sidebar", new { currentCategory = @Model.CategoryName, search = @Model.CurrentFilter })
        </div>
       
    </div>
    <div class="col-10 container vstack gap-3">
        <div class="text-center">
            <h1 class="display-3"><span class="text-primary">@(string.IsNullOrEmpty(Model.CurrentFilter) ? $"{@Model.CategoryName}" : $" {@Model.CategoryName} - \"{@Model.CurrentFilter}\"")</span> Books</h1>
        </div>
        <div class="">
            <form class="form-floating" method="get" id="shopForm">
                @* <input asp-for="CategoryName" hidden/> *@
                <div class="d-flex flex-row flex-nowrap gap-3 form-floating justify-content-around">
                    <input name="searchParam" id="searchBar" type="text" class="form-control" placeholder="Title, Author, ISBN" value="@Model.CurrentFilter"/>
                    <label  for="searchBar">Title, Author, ISBN</label>

                    <button form="shopForm" type="submit" class="btn btn-primary" asp-action="Shop" asp-route-id="@Model.CategoryName">Search</button>

                    
                    <select asp-for="SortOrder" onchange="$('form#shopForm').submit();">
                        <option selected="selected" value="">Sort by</option>
                        @foreach (var param in Model.SortParams)
                        {
                            bool currentParam = param == Model.SortOrder;
                            <option value="@param" class="@(currentParam ? "selected" : "")">@param</option>
                        }
                    </select>
                </div>


            </form>
        </div>
        <div class="d-flex flex-row flex-wrap justify-content-evenly pt-4">
            @foreach (var book in Model.Products)
            {
                <div class="mb-auto d-flex justify-content-center flex-column">
                    <a class="mx-auto" asp-area="Customer" asp-controller="Home" asp-action="BookDetails" asp-route-productId="@book.Id">
                        <img class="img-thumbnail shadow mx-auto" src="~/@book.ImageURL" width="150px" height="240px" style="width: 150px; height: 240px;" 
                             alt="Cover art for @book.Title by @book.Author" title="@book.Title by @book.Author"/>
                    </a>
                    <div class="container-fluid pt-2 pe-0 ps-0 pb-2 mb-2 z-1 text-center text-wrap">
                        <p class="p-0 m-0 text-primary">@book.Title</p>
                        <p class="text-dark p-0 m-0">@book.Author</p>
                        <p class="text-info mb-0">$@book.Price</p>
                        <a role="button" asp-area="Customer" asp-controller="Home" asp-action="BookDetails" asp-route-productId="@book.Id" class="btn btn-dark btn-sm my-0">More Details</a>
                    </div>
                </div>
            }
        </div>
        @{
            var prevDisabled = Model.Products.HasPreviousPage ? "" : "disabled";
            var nextDisabled = Model.Products.HasNextPage ? "" : "disabled";
        }


        <div class="d-flex justify-content-center">
            <ul class="pagination">
                <li class="page-item">
                    <a asp-area="Customer"
                       asp-controller="Home"
                       asp-action="Shop"
                       asp-route-sortOrder="@Model.SortOrder"
                       asp-route-pageNumber="@(Model.Products.PageIndex - 1)"
                       asp-route-currentFilter="@Model.CurrentFilter"
                       class="page-link @prevDisabled">
                        &laquo;
                    </a>
                </li>

                <li class="page-item">
                    <a asp-area="Customer"
                       asp-controller="Home"
                       asp-action="Shop"
                       asp-route-sortOrder="@Model.SortOrder"
                       asp-route-pageNumber="1"
                       asp-route-currentFilter="@Model.CurrentFilter"
                       class="page-link @(Model.Products.PageIndex == 1 ? "active" : "")">
                        1
                    </a>
                </li>

                @for (int i = Math.Max(2, Model.Products.PageIndex - SD.PagesAroundIndex); i < Model.Products.TotalPages && i <= Model.Products.PageIndex + SD.PagesAroundIndex; i++)
                {
                    string active = i == Model.Products.PageIndex ? "active" : "";
                    int currentPage = i;
                    <li class="page-item @active">
                        <a class="page-link"
                           asp-area="Customer"
                           asp-controller="Home"
                           asp-action="Shop"
                           asp-route-sortOrder="@Model.SortOrder"
                           asp-route-pageNumber="@currentPage"
                           asp-route-currentFilter="@Model.CurrentFilter]">
                            @currentPage
                        </a>
                    </li>
                }

                @if (Model.Products.TotalPages > 1)
                {
                    <li class="page-item">
                        <a asp-area="Customer"
                           asp-controller="Home"
                           asp-action="Shop"
                           asp-route-sortOrder="@Model.SortOrder"
                           asp-route-pageNumber="@(Model.Products.TotalPages)"
                           asp-route-currentFilter="@Model.CurrentFilter"
                           class="page-link @(Model.Products.PageIndex == @Model.Products.TotalPages ? "active" : "")">
                            @Model.Products.TotalPages
                        </a>
                    </li>
                }

                <li class="page-item">
                    <a asp-area="Customer"
                       asp-controller="Home"
                       asp-action="Shop"
                       asp-route-sortOrder="@Model.SortOrder"
                       asp-route-pageNumber="@(Model.Products.PageIndex + 1)"
                       asp-route-currentFilter="@Model.CurrentFilter"
                       class="page-link @nextDisabled">
                        &raquo;
                    </a>
                </li>

            </ul>

        </div>
    </div>
    
</div>
