@model Carousel
@{
    bool create = @Model.Id == 0;
}
@{
    ViewData["Title"] = $"{(create ? "Create" : "Update")} Carousel";
}

<div class="float-start mt-2 mb-4">
    @* Back Button *@
    <a class="btn btn-outline-danger btn-lg" href="@ViewData["ReturnUri"]">Back to Carousels</a>
</div>
<div class="container d-flex">
    <div class="card shadow border-0 mt-4 mb-5 col-9 offset-2">
        <div class="card-header">
            <div class="row col-12 text-center">
                <h2 class="text-primary">@(create ? "Create" : "Update") Category</h2>
            </div>
        </div>
        <div class="card-body p-4">
            <form method="post" class="" asp-area="Admin" asp-controller="FrontPage" asp-action="CarouselUpsert" asp-route-returnUri="@ViewData["ReturnUri"]">
                <div class="form-floating vstack gap-3">
                    @*CATEGORY NAME*@
                    <div class="form-floating">
                        <input asp-for="Title" type="text" class="form-control" placeholder="Category Name"/>
                        <label asp-for="Title" class=""></label>
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>

                    @*Tag*@
                    <div>
                        <label class="text-muted" asp-for="CategoryId" for="floatingSelect2">Category/Tag</label>
                        <select asp-for="CategoryId" asp-items="@((List<SelectListItem>)ViewData["CategoryItems"]!)" class="form-select align-middle" id="floatingSelect2">
                            <option selected disabled>Select a tag</option>
                        </select>
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                        
                    </div>
                    
                    @*SORT ORDER*@
                    <div>
                        <label class="text-muted" asp-for="SortOrder" for="floatingSelect1">Sort Order</label>
                        <select asp-for="SortOrder" asp-items="@((List<SelectListItem>)ViewData["SortItems"]!)" class="form-select align-middle" id="floatingSelect1">
                            <option selected disabled>Select a sort order</option>
                        </select>

                    </div>
                    @* DISPLAY ORDER *@
                    <div class="form-floating">
                        <input type="number" asp-for="DisplayOrder" class="form-control" placeholder="Order on Page"/>
                        <label asp-for="DisplayOrder"></label>
                        <span asp-validation-for="DisplayOrder" class="text-danger"></span>
                    </div>
                    @*SUBMIT / BACK*@
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn btn-primary form-control">@(create ? "Create" : "Update")</button>
                        </div>
                    </div>


                </div>
            </form>
        </div>
    </div>
</div>





@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />

        <script type="text/javascript">

            $('.form-select').select2(
                {
                    theme: 'bootstrap-5',
                    width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
                    placeholder: $(this).data('placeholder'),
                    closeOnSelect: true,
                    allowClear: false,
                });

        </script>
    }
}